*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    width: 100%;
    height: 100%;
}

.blogHeadingContainer{

    padding: 1rem;
}

.blogHeading{
    
    margin-bottom: 0.9rem;

    text-align: center;

    font-size: 1.5rem;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}

.blogDescription{
    
    width: 580px;

    /* margin: 0 auto;
    margin-bottom: 1.5rem; */
    margin: 0 auto 1.5rem;

    text-align: center;
   
    color: rgb(145, 138, 138);

    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

.mainContainer{

    width: 75%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.3rem;

    margin-bottom: 2rem;
}

.subHeading{

    margin-bottom: 0.9rem;

    text-align: center;

    font-size: 1.5rem;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}

.cardContainer{

    border: 1.5px solid rgb(205, 195, 195);
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;

    gap: 1rem;
    overflow: hidden; /* This ensures the image remains within the card */
}

.cardImageAnchorContainer{

    width: 100%;
    height: 170px;
    display: block;
    position: relative;
}

.cardImage{

    width: 100%;
    height: 100%;

    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    
    position: absolute;
    transition-duration: 1s;
}

.cardContainer:hover .cardImage{

    transform: scale(1.1);
}

.cardHeadingAndDescriptionContainer{

    padding: 0.5rem 1rem;
    margin-bottom: 0.2rem;
}

.cardHeading{

    color: rgb(20, 19, 19);

    font-size: 0.99rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

    margin-bottom: 0.4rem;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cardHeading:hover{

    color: rgb(35, 35, 189);
}

.cardDescription{

    color: rgb(145, 138, 138);

    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

.authorContainer{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.leftBox{

    display: flex;
    gap: 0.3rem;
}

.authorLogo img{

    width: 30px;
    height: 30px;
    overflow: hidden;
    border: 1px solid rgb(145, 138, 138);
    border-radius: 50%;
    background-color: rgb(240, 231, 231);
}

.authorDescription{

    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: rgb(145, 138, 138);
}

.authorName{
    
    color: rgb(72, 72, 141);
}

.rightBox{


    border: 2px solid rgb(145, 138, 138);
    border-radius: 3px;
    padding: 0.1rem;
}

.rightBox span{

    font-size: 0.9rem;
    color: rgb(145, 138, 138);
}

@media (min-width: 650px) {

    .mainContainer{
        
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 970px) {

    .mainContainer{
        
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1250px) {

    .mainContainer{
        
        grid-template-columns: repeat(4, 1fr);
    }
}

a{

    text-decoration: none;
}